#basket-info {
    text-align: center;
    width: 100%;
    font-size: 23px;
    margin-bottom: 5px;
}

.basket-entry {
    width: 100%;
}


.title {
    width: 70%;
    display: inline-block;
}


.pieces {
    width: 29%;
    display: inline-block;
}

.label {
    width: 100%;
    border-bottom: solid 1px black
}

.title-label {
    width: 70%;
    display: inline-block;
}

.pieces-label {
    width: 29%;
    display: inline-block;
}

