#login-form {
    margin: 0 auto;
    width: 400px;
    margin-top: 40px;
    text-align: center;

}

#login-form input {
    margin: 10px 0;

}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 15px;
    background-color: #878db7;
    border: 2px solid rgba(62, 71, 181, 0.77);
    border-radius: 10px;
}