<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Księgarnia</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
<div class="container">

    <form id="login-form" method="POST" th:object="${user}">
        <input type="text" placeholder="login" th:field="*{login}"><br>
        <input type="password" placeholder="hasło" th:field="*{password}"><br>
        <input type="submit" value="OK"><br>
        <a href="/register">Zarejestruj</a>
    </form>



</div>


</body>
</html>